<p>Bonjour,</p>

<p>Vous avez demandé une réinitialisation de votre mot de passe pour votre compte sur Lunzy Tech.</p>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>

<p><a href="{{ protocol }}://{{ domain }}{% url 'gestion_employes:password_reset_confirm' uidb64=uid token=token %}">Réinitialiser mon mot de passe</a></p>

<p>Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email.</p>

<p>Cordialement,</p>
<p>L'équipe Lunzy Tech</p>
