{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Réinitialisation réussie</h3></div>
                <div class="card-body">
                    <p class="text-center">Votre mot de passe a été réinitialisé avec succès.</p>
                    <div class="d-grid gap-2">
                        <a href="{% url 'gestion_employes:login' %}" class="btn btn-primary btn-lg">Se connecter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

